<nav class="navbar navbar-expand justify-content-center">
  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      [routerLink]="['/home']"
      [routerLinkActive]="['is-active']"
      >Home</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/profile']"
      [routerLinkActive]="['is-active']"
      >Profile</a
    >
    <a
      class="nav-item nav-link"
      [routerLink]="['/covid19']"
      [routerLinkActive]="['is-active']"
      >COVID19</a
    >
  </div>
</nav>
<div class="page-container">
  <router-outlet></router-outlet>
</div>
